{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-md-4 col-xs-4">
    <h2>Scouting Form 2019 Destination: Deep Space!</h2>
  </div>
</div>
<form method="post" id="scouting-form" autocomplete="off">
  {{ form.csrf_token }}
  <!-- <img src="static/custom/known.png" align = "left" id="logo" class></img> -->
  <div class="row">
    <img src="static/custom/deep_space.png" id="logo" width="200" class="pull-right"></img>
    <div class="col-md-8 col-xs-8 text-right">
      {{ form.match_id }}
      {{ form.team_id }}
    </div>
    <!--problem-->
    <div class="col-md-6">
      {% if conf.get('station', 'none').lower() == 'none' %}
      <div id="alert" class="alert alert-warning">No player station selected; team ID completion is not available.
        See {{link_to('config_form', 'Settings')}} to choose a station.</div>
      {% else %}
      <div><label>Player Station: {{conf.get('station', '?')}}</label></div>
      <div><label>Event name: {{conf.get('event_name', '?')}}</label></div>
      <div id="alert" class="alert" style="display: none;"></div>
      {% endif %}
    </div>
  </div>
  <div class="game-period">
    <!--Sandst orm Forms-->
    <h3>Sandstorm & Auton</h3>

    <div class="row">
      {{form.hab_start_robot}}
      {{form.auton_cross_line}}
      {{form.auton_ci_ball_cargo}}
      {{form.auton_ci_hatch_cargo}}
      {{form.auton_ball_count}}

    </div>

    <div class="row">
      {{form.auton_ci_ball_rock_1}}
      {{form.auton_ci_ball_rock_2}}
      {{form.auton_ci_ball_rock_3}}
    </div>
    <div class="row">
      {{form.auton_ci_hatch_rock_1}}
      {{form.auton_ci_hatch_rock_2}}
      {{form.auton_ci_hatch_rock_3}}
    </div>
  </div>

  <div class="game-period">

    <!--Teleop Forms-->

    <h3>Teleop</h3>

    <div class="row">

      {{form.ball_count}}
      {{form.ball_cargo}}

      {{form.hatch_cargo}}
    </div>
    <h4>Rocket Cargo</h4>
  <div class="row">
    {{form.ball_rock_1}}
    {{form.ball_rock_2}}
    {{form.ball_rock_3}}
  </div>
  <div class="row">
    {{form.hatch_rock_1}}
    {{form.hatch_rock_2}}
    {{form.hatch_rock_3}}
  </div>
  <div class="row">
    {{form.ball_dropped}}
    {{form.hatch_dropped}}
  </div>
  <div class="row">
    <!-- {{form.comments}} -->
    {{form.fouls}}
    {{form.tech_fouls}}
  </div>
  <div class="row">
    {{form.helping_robot_climb}}
    {{form.hatch_pickup}}
    {{form.helping_robot_field}}
  </div>
  </div>

  <div class="game-period">

    <!--Add Checkbox and End Game-->

    <h3>End Game</h3>
    <h5>What habitat did the Robot score?</h5>
    <div class="row">
      {{form.hab_end_robot}}
    </div>
    <h5>What type of Robot was it?</h5>
    <div class="row">
      {{form.mechanism_scr}}
    </div>

  </div>

  <h4>How cool was the team?</h5>
  <div class="col-md-3 col-xs-12">
    {{form.cool_factor}}
  </div>
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <h3>Comments</h3>
      {{ form.comments(rows='5') }}
    </div>
  </div>


  <div class="row">
    <div class="col-md-4"><input type="submit" id="submit" class="btn btn-primary" value="Save"></div>
  </div>

  <!--corrosponsds to top div-->
</form>
{% endblock %}