{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-md-4 col-xs-4">
    <h2>Scouting Form 2019 Destination: Deep Space!</h2>
  </div>
</div>
<form method="post" id="scouting-form" autocomplete="off">
  {{ form.csrf_token }}
  <div class="row">
    <img src="static/custom/deep_space.png" id="logo" width="200" class="pull-right" alt="Deep Space"></img>
    <div class="col-md-8 col-xs-8 text-right">
      {{ form.team_id }}
      <div style="display:none">
        {{ form.match_id }}
      </div>
    </div>
    <!--problem-->
  </div>

    <div class ="game-period">
      <div class = "row">  
        <h3>General Info</h3>
      </div>
      <div class="row">
        <h5>What Mechansims Does the Robot Have?</h5>
          {{form.mechanism_cargo}}
          {{form.mechanism_hatches}}
          {{form.mechanism_climbing}}
      </div>
      <br>
    </div>

    <div class = "game-period">
      <div class = "row">
        <h3>Scoring</h3>
      </div>
      
      <div class ="row">
        <h5>Where Can They Score Hatches?</h5>
        {{form.rk_level_one}}
        {{form.rk_level_two}}
        {{form.rk_level_three}}
        {{form.cs_level_one}}
      </div>
      
      <br>

      <div class ="row">
        <h5>Where Can They Score Cargo?</h5>
        {{form.rk_level_one}}
        {{form.rk_level_two}}
        {{form.rk_level_three}}
        {{form.cs_level_one}}
      </div>
      <br>
    </div>

  <div class="game-period">
    <div class= "row">
      <h3>Climbing</h3>
    </div>

    <div class = "row">
      <h5>Which Levels Can the Robot Climb?</h5>
      {{form.cl_level_one}}
      {{form.cl_level_two}}
      {{form.cl_level_three}}
    </div>
  </div>
    
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <h3>Comments</h3>
        {{ form.comments(rows='5') }}
      </div>
      <br>
      <br>
      <br>
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <input type="submit" id="submit" class="btn col-md-12" value="Save">
      </div>
    </div>
  </div>

</form>
{% endblock %}
